<main *ngIf="!editing">
	<section id = "profile">
		<!--<img id = "profilePic" src="../assets/pic-placeholder.jpg">-->
		<img id = "profilePic" src="data:image/png;base64,{{ base64pic }}">
		<div id ="stats">
			<p>{{name}}</p>
			<p>Capital actual: {{currentMoney}}</p>
			<p>Capital inicial: {{initialMoney}}</p>
			<p>Capital invertido: {{investedMoney}}</p>
			<p>{{biography}}</p>
		</div>
	</section>

	<section id = "graphic">
		<div id="title-graphic">Evolución del capital</div>
		<div id="evolution"></div>
	</section>

	<section id="title">
		<p>Ha participado en los siguientes grupos</p>
	</section>
 
	<section id = "challenges">
		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Fecha de creación</th>
					<th>Fecha de finalización</th>
					<th>Resultado</th>
					<th>Participantes</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let group of groups">
					<td> <a routerLink="/challenge/{{group.id}}">{{group.nombre}}</a> </td>
					<td>{{ group.fechainicio.getDate() }}/
						{{ group.fechainicio.getMonth() }}/
						{{ group.fechainicio.getFullYear() }}</td>
					<td>{{ group.fechafin.getDate() }}/
						{{ group.fechafin.getMonth() }}/
						{{ group.fechafin.getFullYear() }}</td>
					<td>{{ group.balancefinal - group.balanceinicial }} ({{group.signovariacion}}{{group.variacion}}%)</td>
					<td>{{ group.numparticipantes }}</td>
				</tr>
			</tbody>
		</table>
	</section>

	<button (click)="edit()" id="editButton">Editar perfil</button>
</main>
<main *ngIf="editing">
	<form (ngSubmit)="submit()" id="editForm">
		<p>Nombre</p>
		<input type="text" [(ngModel)]="newName" placeholder="Nuevo nombre" name="name">
		<p>Biografía</p>
		<input type="text" [(ngModel)]="newBiography" placeholder="Nueva biografía" name="bio">
		<p>Imágen de perfil</p>
		<input type="file" [(ngModel)]="newImageURL" placeholder="Selecciona una imágen" name="pic"
		(change)="loadPic($event)">
		<p></p>
		<p>Cambio de contraseña</p>
		<p>Antigua contraseña</p>
		<input type="password" [(ngModel)]="password" placeholder="Contraseña actual" name="pass" id="pass">
		<p></p>
		<p id="errorpass" style="display: none; color: red">Las contraseña no es correcta</p>
		<p></p>
		<p>Nueva contraseña</p>
		<input type="password" [(ngModel)]="newPassword" placeholder="Nueva contraseña" name="newpass1" id="newpass1">
		<p></p>
		<p>Repita la contraseña</p>
		<input type="password" [(ngModel)]="newPasswordRepeat" placeholder="Repita la contraseña" name="newpass2" id="newpass2">
		<p></p>
		<p id="errornewpass" style="display: none; color: red">Las contraseñas no coinciden</p>
		<p></p>
		<input type="submit" value="Guardar">
	</form>
</main>
	