main{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Unica One";
}
form{
    display: flex;
    flex-direction: column;
}
input[type="submit"]{
    background-color: #8C4830;
    color: white;
    border: none;
    font-size: 20pt;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Unica One";
}