<main>
	<div class="subject_div" style="grid-area: subject1;">
		<div class="subject_header">
			Conceptos Básicos
		</div>
		<div class="subject_content">
			<div class="training_element">
				<p class="element_title">¿Qué es la bolsa?</p>
				<img class="element_image" height = "40%" width = "80%" src="./assets/video-placeholder.jpg">
				<p class="element_description">Una introducción sencilla al concepto de la bolsa de valores.</p>
			</div>
			<div class="training_element">
				<p class="element_title">Las acciones</p>
				<img class="element_image" height = "40%" width = "80%" src="./assets/video-placeholder.jpg">
				<p class="element_description">En este vídeo aprenderás lo que son las acciones
				y cómo funcionan.</p>
			</div>
		</div>
	</div>
	<div class="subject_div" style="grid-area: subject2;">
		<div class="subject_header">
			Funcionamiento de la bolsa
		</div>
		<div class="subject_content">
			<div class="training_element">
				<p class="element_title">Los brokers</p>
				<img class="element_image" height = "30%" width = "80%" src="./assets/video-placeholder.jpg">
				<p class="element_description">Aprenda qué hace un broker y cómo aprovechar los servicios
				que ofrecen.</p>
			</div>
			<div class="training_element">
				<p class="element_title">El precio</p>
				<img class="element_image" height = "30%" width = "80%" src="./assets/video-placeholder.jpg">
				<p class="element_description">Descubra los principales factores que afectan al precio de
				las acciones.</p>
			</div>
		</div>
	</div>
	<div class="subject_div" style="grid-area: subject3;">
		<div class="subject_header">
			Estrategias de inversión
		</div>
		<div class="subject_content">
			<div class="training_element">
				<p class="element_title">Programación lineal</p>
				<img class="element_image" height = "30%" width = "80%" src="./assets/video-placeholder.jpg">
				<p class="element_description">Introducción a los principios básicos de la toma de decisiones,
				que le ayudará a maximizar su beneficio minimizando el riesgo en el que incurre.</p>
			</div>
			<div class="training_element">
				<p class="element_title">Algoritmos de inversión</p>
				<img class="element_image" height = "30%" width = "80%" src="./assets/video-placeholder.jpg">
				<p class="element_description">Una visión general del trading algorítmico.</p>
			</div>
		</div>
	</div>
	<div class="subject_div" style="grid-area: subject4;">
		<div class="subject_header">
			Conocimientos avanzados
		</div>
		<div class="subject_content">
			<div class="training_element">
				<p class="element_title">Los indicadores técnicos</p>
				<img class="element_image" height = "30%" width = "80%" src="./assets/video-placeholder.jpg">
				<p class="element_description">Una explicación del funcionamiento y utilidad de los indicadores
				más usados.</p>
			</div>
			<div class="training_element">
				<p class="element_title">Curso avanzado de bolsa</p>
				<img class="element_image" height = "30%" width = "80%" src="./assets/video-placeholder.jpg">
				<p class="element_description">Una serie de vídeos que le permitirá adentrarse en el intrincado
				mundo de la bolsa con un detalle mucho mayor.</p>
			</div>
		</div>
	</div>
</main>
