<main>
	<div class="subject_div" style="grid-area: subject1;">
		<div class="subject_header">
			Conceptos Básicos
		</div>
		<div class="subject_content">
			<div class="training_element">
				<p class="element_title">¿Qué es la bolsa?</p>
				<img class="element_image" height = "20%" width = "80%" src="./assets/video-placeholder.jpg">
				<p class="element_description">Una introducción sencilla al concepto de la bolsa de valores.</p>
			</div>
			<div class="training_element">
				<p class="element_title">Las acciones</p>
				<img class="element_image" height = "20%" width = "80%" src="./assets/video-placeholder.jpg">
				<p class="element_description">En este vídeo aprenderás lo que son las acciones
				y cómo funcionan.</p>
			</div>
		</div>
	</div>
	<div class="subject_div" style="grid-area: subject2;">
		<div class="subject_header">
			Funcionamiento de la bolsa de patatas
		</div>
		<div class="training_element">
			<p class="element_title">Coger una patata y comérsela, principios básicos</p>
			<img class="element_image" height = "20%" width = "80%" src="./assets/video-placeholder.jpg">
			<p class="element_description">Seamos sinceros, ya que lo haces, mejor hacerlo con
			estilo.</p>
		</div>
	</div>
	<div class="subject_div" style="grid-area: subject3;">
		<div class="subject_header">
			GANA DINERO FACIL!!!1!!
		</div>
	</div>
	<div class="subject_div" style="grid-area: subject4;">
		<div class="subject_header">
			Cómo especular con el precio de las avellanas
		</div>
	</div>
</main>
