<div id="superflex">
    <!-- Pestañas -->
    <nav>
        <div *ngIf="!nickname" [ngClass]="{'tabSelected': page === '/login'}" routerLink="/login">Login</div>
        <div *ngIf="nickname != undefined" [ngClass]="{'tabSelected': page === '/user'}" routerLink="/user/{{ nickname }}">{{ nickname }}</div>
        <div [ngClass]="{'tabSelected': page ==='/contact'}" routerLink="/contact">Contacto</div>
        <div [ngClass]="{'tabSelected': page === '/training'}" routerLink="/training">Formación</div>        
        <div [ngClass]="{'tabSelected': page === '/portfolio'}" routerLink="/portfolio">Mi Cartera</div>
        <div [ngClass]="{'tabSelected': page === '/challenge'}" routerLink="/challenge">Retos</div>
        <div [ngClass]="{'tabSelected': page === '/' || page === '/market'}" routerLink="/market">Mercados</div>        
        <div class="spacer"></div>
        <img routerLink="/market" src="assets/texto.png">
    </nav>
    <!-- Contenido principal -->
    <div id="main">
        <router-outlet></router-outlet>
    </div>
    <!-- Footer -->
    <footer>
        &copy; Arroyo, Bazaco, González y Valdunciel S.A. 2019
    </footer>
</div>