#superflex{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background-color: #9EBF95;
    color: black;
    height: 10vh;
}
nav > .spacer{
    flex: 1;
}
nav > img{
    max-height: 100%;
    margin-left: 25px;
}
nav > div {
    height: 1.3em;
    padding: 25px;
    cursor: pointer;
}
nav > div:focus{
    outline: 0;
}
#main{
    flex: 1;
    background-color: white;
}

footer{
    font-size: 0.6em;
    text-align: center;
}

.tabSelected{
    font-weight: bold;
    background-color: white;
    color: black;
}