<div id="superflex">
    <!-- Pestañas -->
    <nav>
        <div [ngClass]="{'tabSelected': page === '/login'}" routerLink="/login">Login</div>
        <div [ngClass]="{'tabSelected': page ==='/contacto'}" routerLink="/contacto">Contacto</div>
        <div [ngClass]="{'tabSelected': page === '/cartera'}" routerLink="/cartera">Mi Cartera</div>
        <div [ngClass]="{'tabSelected': page === '/retos'}" routerLink="/retos">Retos</div>
        <div [ngClass]="{'tabSelected': page === '/' || page === '/mercado'}" routerLink="/mercado">Mercados</div>
        <div class="spacer"></div>
        <img src="assets/texto.png">
    </nav>
    <!-- Contenido principal -->
    <div id="main">
        <router-outlet></router-outlet>
    </div>
    <!-- Footer -->
    <footer>
        &copy; Arroyo, Bazaco, González y Valdunciel S.A. 2019
    </footer>
</div>