
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div id="container">
  <i class="fa fa-times exit fa-2x" (click)="close()" aria-hidden="true"></i>
  <div id="crear-reto">
     
      <form [formGroup]="form">
      <table>
        <h2 id="lbl-crear">Crear un reto</h2>
        <tbody>
          <tr>
            <td>Nombre</td>
            <td> <input name="nombre" formControlName="nombre" type="text"><br/>
            </td>
          </tr>
          <tr>
              <td colspan="2">
                <span *ngIf="nameError!=null" class="text-danger">{{nameError}}</span>
             </td>
            </tr>
         
          <tr>
          <td colspan="2"><textarea formControlName="descripcion"  placeholder="Descripcion"></textarea></td>
          </tr>
          <tr>
              <td>Fecha de Finalización:</td>
              <td><input name="fechaFin"  formControlName="fechaFin"  type="date" ></td>
          </tr>
          <tr>
              <td colspan="2">
                <span *ngIf="endDateError!=null" class="text-danger">{{endDateError}}</span>
             </td>
            </tr>
          <tr>
        </tbody>
        <button class="btn btn-secondary" (click)="pressedCreateButton()">Crear reto</button>

      </table>

    </form>
  </div>
</div>