<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="container">
  <i class="fa fa-times exit fa-2x" aria-hidden="true"></i>
  <div id="crear-reto">
      <h2 id="lbl-crear">Crear un reto</h2>
      <form>
      <table>
        <tbody>
          <tr>
            <td>Nombre</td>
            <td> <input name="nombre" type="text"></td>
          </tr>
          <tr>
          <td colspan="2"><textarea placeholder="Descripcion"></textarea></td>
          </tr>
          <tr>
          <td>Fecha de Inicio:</td>
          <td><input name="fechaIni" type="date" /></td>
          </tr>
          <tr>
              <td>Fecha de Finalización:</td>
              <td><input name="fechaFin" type="date"/></td>
          </tr>
        </tbody>
        <button class="btn btn-secondary">Crear reto</button>

      </table>

    </form>
  </div>
</div>