
<main>
      <form>
        <fieldset>
          <legend>Contáctanos</legend>
          <label for="inEmail">Email</label>          
          <input type="email" [(ngModel)]="form.address" id="inEmail" name="email" size=30 required placeholder="Introduce un email de contacto">
          <label for="inAffair"> Asunto</label>          
          <input type="text" [(ngModel)]="form.subject" id="inSubject" name="subject" size=30 required placeholder="Resume el motivo de tu consulta"/>          
          <label for="inMessage">Mensaje</label>          
          <textarea  rows="12" cols="55" id="inBody"  required placeholder="Escribe aquí tu mensaje" [(ngModel)]="form.body" [ngModelOptions]="{standalone: true}"></textarea>          
          <input  *ngIf="!sending" (click)="submit()" type="submit" id="" name="send" value="Enviar mensaje"/>
          <div    *ngIf="sending"   id = "spinner" align="center" style="display: initial;">
            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          </div>
        </fieldset>
        <p>{{error}}</p>
      </form>
</main>