
<main>
      <form>
        <fieldset>
          <legend>Contáctanos</legend>
          <label for="inEmail">Email</label>          
          <input type="email" id="inEmail" name="firstname" size=30 placeholder="Introduce un email de contacto">
          <label for="inAffair"> Asunto</label>          
          <input type="text" id="inAffair" name="affair" size=30 placeholder="Resume el motivo de tu consulta"/>          
          <label for="inMessage">Mensaje</label>          
          <textarea rows="12" cols="55" placeholder="Escribe aquí tu mensaje"></textarea>          
          <input type="submit" id="" name="send" value="Enviar mensaje"/>
        </fieldset>
      </form>
</main>