<main *ngIf="nickname">
    <section id="graphics">
        <candlestick [data]="randomData"></candlestick>
    </section>
    <section id="companies">
        <table>
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Código</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>¿Vender?</th>
                </tr>
            </thead>
            <tbody>
                <tr class="company_slot" (click)="show(c)" [ngClass]="{'selected': company===c}" *ngFor="let c of companies">
                    <td>{{ c.name }}</td>
                    <td>{{ c.code }}</td>
                    <td>{{ c.price }}</td>
                    <td>{{ c.quantity }}</td>
                    <td *ngIf="company===c">
                        <input type="number" min="1" max="{{ c.quantity }}" [(ngModel)]="numSellActions">
                        <button (click)="sell()">Vender</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <section id="history">
        <table>
            <thead>
                <tr>
                    <th>Acción</th>
                    <th>Empresa</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let h of history">
                    <td>{{ h.action }}</td>
                    <td>{{ h.company }}</td>
                    <td>{{ h.date }}</td>
                    <td>{{ h.quantity }}</td>
                    <td>{{ h.price }}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section id="resumen">
        Capital inicial: 100.000$
        <br>
        Capital actual: 120.000$
        <br>
        Variación (dólares): +20.000$
        <br>
        Variación (porcentaje): +20%
        <br>
        Dinero gastado en comisiones: 50$
    </section>
</main>
<main *ngIf="!nickname">
    <p>Esta parte de la página es exclusiva para usuarios registrados</p>
</main>