main{
    display: grid;
    grid-template-areas: 
        "graphic graphic companies companies"
        "history history history resume";
    grid-template-rows: 3fr 1fr;
    grid-auto-columns: 25%;
    grid-gap: 25px;
    height: calc(100% - 75px);
    width: calc(100% - 100px);
    margin: 25px;
}
#graphics{
    grid-area: graphic;
    min-height: 100px;
    max-height: 100%;
    position:relative;
}
#graphics > candlestick {
    position:absolute;
    top:0;
    left:0;
    right:0;
    max-height: 100%;
    height: 100%;
}
#companies{
    grid-area: companies;
    min-height: 100px;
    max-height: 100%;
    overflow-y: auto;
    position:relative;
    border: 3px;
    border-color: #688C5E;
    border-radius: 5px;
    border-style: solid;
}
#companies > table{
    position:absolute;
    top:0;
    left:0;
    right:0;
    max-height:100%;
    overflow:auto;
}
#history{
    grid-area: history;
    min-height: 100px;
    max-height: 100%;
    overflow-y: auto;
    position:relative;
    border: 3px;
    border-color: #688C5E;
    border-radius: 5px;
    border-style: solid;
}
#history > table{
    position:absolute;
    top:0;
    left:0;
    right:0;
    max-height:100%;
    overflow:auto;
}
th{
	text-align: left;
	position: sticky;
	top: 0;
	background: white;
}
#resumen{
    grid-area: resume;
}

.selected{
    font-weight: bold;
}
table{
    width: 100%;
    text-align: left;
}

section{
    background-color: white;
}

.company_slot{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.company_slot:hover{
    background-color: #9EBF95;
}
