<main>
  <section id="graphico">
    <div id="candlestick"><candlestick [data]="data"></candlestick></div>
    <div id="reto-description">{{cDescription}}
    </div>
  </section>
  <section id="participantes">
   
    <div id="container-btn-reto">
      
        <span *ngIf="nickname!=null && !hasEnded()">
        <span *ngIf="!isParticipante()"><button id="btn-unirse-reto" (click)="join()">Unirse al reto</button></span>
        <span *ngIf="isParticipante()"><button id="btn-salir-reto" (click)="leave()">Salir del reto</button></span>
        </span>
      
     
    </div>
    <span *ngIf="error_message!=null" class="text-danger">{{error_message}}</span>
    <div id="container-tabla">
      <table id="tabla-ranking">
        <thead>
          <tr id="tr-buscador-usuario">
          <td colspan="5"> <input id="buscador-usuario"  type="text" placeholder="Buscar usuario" [(ngModel)]="searched_username"></td>
          </tr>
            <tr>
              <th>Ranking</th>
              <th class="tabla-col-username">Usuario</th>
              <th>Variación</th>
              <th>Beneficio</th>
            </tr>
          </thead>
          <tbody>
            <tr [ngClass]="{'logged-user': nickname==user.nombre}"  *ngFor="let user of getSelectedUsers()">
              <td>{{getUserPosition(user)}}</td>
              <td class="tabla-col-username"><a routerLink="/user/{{user.nombre}}" >{{user.nombre}}</a></td>
              <td [ngClass]="{'variacionPositiva': user.variacion>0, 'variacionNegativa': user.variacion<0}">{{user.variacion}}%</td>
              <td [ngClass]="{'variacionPositiva': user.beneficio>0, 'variacionNegativa': user.beneficio<0}">{{user.beneficio}}</td>
            </tr>
          </tbody>
      </table>
    </div>
    
  </section>
</main>
