<main>
  <section id="graphico">
    <div id="candlestick"><candlestick [data]="data"></candlestick></div>
    <div id="reto-description">Nuestra filosofía de vida: el dinero. Nuestro nombre: La Hermandad del Puño Cerrado</div>
  </section>
  <section id="participantes">
    <div id="container-btn-reto">
    <select>
      <option>Reto Evita Perón...</option>
    </select>
    <button id="btn-unirse-reto">Unirse al reto</button>
    </div>
    <div id="container-tabla">
      <table id="tabla-ranking">
        <thead>
          <tr id="tr-buscador-usuario">
          <td colspan="5"> <input id="buscador-usuario"  type="text" placeholder="Buscar usuario" [(ngModel)]="searched_username"></td>
          </tr>
            <tr>
              <th>Ranking</th>
              <th class="tabla-col-username">Usuario</th>
              <th>Variación</th>
              <th>Beneficio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of getSelectedUsers()">
              <td>{{getUserPosition(user)}}</td>
              <td class="tabla-col-username">{{user.nombre}}</td>
              <td [ngClass]="{'variacionPositiva': user.variacion>0, 'variacionNegativa': user.variacion<0}">{{user.variacion}}%</td>
              <td [ngClass]="{'variacionPositiva': user.beneficio>0, 'variacionNegativa': user.beneficio<0}">{{user.beneficio}}€</td>
            </tr>
          </tbody>
      </table>
    </div>
    
  </section>
</main>
