main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 100%;
   
}
#graphico{
  height:100%;
}

#participantes{
    min-height: 100px;
    max-height: 100%;
    margin-right:10px;
    margin-bottom: 11px;
    position:relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

table{
    width: 100%;
    text-align: left;
}


#tr-buscador-usuario{
  padding:0px;
  margin:0px;
  background-color:#9EBF95;
    height:100%;
}

#buscador-usuario{
  border:0px;
   width:100%;
   margin:0px;
   padding:0px;
   background: rgba(0, 0, 0, 0);
   
  } 

  
#container-btn-reto{
  width:100%;

  
  overflow: hidden;
}


#btn-unirse-reto,#btn-salir-reto{
  margin-top: 4px;
  background-color:#8C4830;
  color:white;
  border: none;
  font-size:18px;
  margin-bottom:4px;
  border-radius:4px;
  margin-right:15px;
  max-width: 20%;
  float:right;
}


#tabla-ranking{
  border-spacing: 0; /* Estos dos sirven para que no haya un hueco entre la tabla y el thead */
  border-collapse: collapse;
  overflow-y: hidden
 
  
}

th{
  text-align: center;
}
td{
  text-align:center;
}

.tabla-col-username{
  text-align: left;
}

#container-tabla{
  height:100%;
  border:3px;
  border-color:#688C5E;
  border-style: solid;
  border-radius:5px;
  overflow-y: auto;
  margin-top: 1px;
}

thead {
  position: sticky;
  top: 0;
  background-color:white; /** Evita el overlapping con tbody, ya que position:sticky lo deja en una posición fija */
  z-index: 2;
}


.variacionNegativa{
  color:red;
}

.variacionPositiva{
  color:green;
}

#reto-description{
  max-height: 20%;
  height: 20%;
  margin-left: 15px;
}
#candlestick{
  max-height: 80%;
  height: 80%;
}

.text-danger {
  color: #dc3545 !important;
  text-align:right;
  float: right;
}