<main>
    <div id="graphic-container"> 
        <div id="flex-head-graphic">           
            <span  id="graphic-indicator-title">Indicador: </span>
            <select  id="graphic-indicator" [(ngModel)]="selectedIndicator" >
                <option *ngFor="let i of indicators" value="{{i.name}}" 
                        [attr.selected]="i.name === selectedIndicator.name">{{i.displayName}}</option>                
            </select>
            <span  id="graphic-title">{{selectedCompany.name}}</span>
        </div>
        <div id="graphic">
            <candlestick [data]="priceEvolution"></candlestick>
        </div>
        
    </div>
    <div id="companies-container">  
        <div id="search-bar">
            <form>
                <div id="grid-search">
                    <span id="search-title"> Buscar</span>
                    <label id="search-name-title">Nombre</label>
                    <label id="search-code-tile">Código</label>
                    <label id="search-minPrice-title">Precio mínimo</label>
                    <label id="search-maxPrice-title">Precio máximo</label>            
                    <input id="search-name" type="text" name="searchName"  size=18 placeholder="Ej: Intel" [(ngModel)]="searchedName"/> 
                    <input id="search-code" type="text" name="searchCode" size=5 placeholder="Ej: INTC" [(ngModel)]="searchedCode"/> 
                    <select id="search-minPrice" name="minPrice" [(ngModel)]="lowerPrice" >
                        <option *ngFor="let price of lowerEndsPrice" value="{{price}}" [attr.selected]="price === lowerPrice">{{price}}</option>                        
                    </select>
                    <select id="search-maxPrice" name="maxPrice" [(ngModel)]="upperPrice" >
                        <option *ngFor="let price of upperEndsPrice" value="{{price}}" [attr.selected]="price === upperPrice">{{price}}</option>                        
                    </select>
                </div>
            </form>
        </div>           
        <div id="companies-table-container">     
        <table>
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Código</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr class = "company_slot"(click)="onSelectCompany(c)" [class.selected]="selectedCompany === c" *ngFor="let c of getSearchedCompanies()">
                    <td>{{ c.name }}</td>
                    <td>{{ c.code }}</td>
                    <td>{{ c.price }}</td>
                </tr> 
            </tbody>
        </table>   
        </div>     
    </div>
    <div id="operations-container"> 
        <div id="operations-title"> >>> Operar <<<</div>
        <div id="operations-form-container">
            <form id="operations-form">       
                <ul id="flex-operations" type="none">        
                    <li>   
                        <label for="companyName" action="none">Empresa:</label>
                        <input type="text" class="input-field" name="companyName" value="{{selectedCompany.name}}" readonly/>  
                    </li>
                    <li> 
                        <label><b>Compra</b></label>
                    </li> 
                    <li>
                        <label for="companyPrice">Precio (€):</label>
                        <input type="text" class="input-field" name="companyPrice" value="{{selectedCompany.price}}" readonly/>  
                    </li>   
                    <li> 
                        <label for="numberOfStocks">Nº acciones: </label>                    
                        <input type="text" class="input-field" name="numberOfStocks" [(ngModel)]="numberBuyStocks" />  
                    </li>
                    <li> 
                        <label for="totalPrice">Total (€):</label>
                        <input type="text" class="input-field" name="totalPrice" value="{{selectedCompany.price*numberBuyStocks || 0}}" readonly/>
                    </li>
                    <li *ngIf="nickname">     
                       <label></label> <input (click)="buy()" type="submit" value="Operar ahora">
                    </li>
                    <p *ngIf="!nickname">(Debe iniciar sesión para operar)</p>
                </ul>
            </form>
        </div>
    </div> 

</main>  